.cart {
    margin: auto;
    /* justify-items: center; */
    /* align-items: center; */
    width: 50%;
}

.cart>h4 {
    text-align: center;
}

.cart>h5 {
    margin-left: 1rem;
}

.product-cart {
    display: flex;
    border: 2px solid #000;
    border-radius: 16px;
    gap: 30px;
    align-items: center;
    height: 115px;
}

.product-cart>.img-product {
    width: 14%;
    height: 100px;
    margin-left: 2rem;
    border-radius: 10px;
}

button>img {
    margin-left: 0.8rem;
    /* margin-bottom: auto; */
    /* margin-right: -12px; */
    /* margin-top: 0.5rem; */
    width: 40%;
    height: 55%;
}

button {
    margin-left: auto;
    margin-bottom: auto;
}

.body-cart {
    height: 100vh;
}

.button-cart {
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 576px;
    height: 56px;
}

.cart > p {
    text-align: center;
    margin-top: 8rem;
}